<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rs.roomservice">

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ConsiergeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CleaningActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TaxiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HotelInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ReceptionistActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ClientActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ManagerActivity"
            android:label="@string/title_activity_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MaidActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>